* {
    background-color: #1a1a1a;
    color: #fafafa;
}

input {
    background-color: #303030;
    border: none;
    padding: 6px 8px; 
}

button {
    background-color: #303030;
    border: none;
    width: 80px;
    padding: 6px 8px;
    border-radius: 4px;
}

button:hover {
    background-color: #353535;
    cursor: pointer;
}