<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
    <link rel="stylesheet" href="/styles/index.css" type="text/css">
</head>
<body>
    <form method="POST" action="/new">
        <h1>Welcome to Form Page</h1>
        <span>Author</span>
        <input type="text" name="messageUser" id="">
        <span>Message</span>
        <input type="text" name="messageText" id="">
        <button type="submit">Submit</button>
    </form>
</body>
</html>